{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Josh's Django Site{% endblock %}</title>

    <linK rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<div class="myheader"> 
  <header class="d-flex flex-wrap justify-content-center py-2 px-3 border-bottom fixed-top bg-white"> 
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> <img src="{% static 'images/jculogo.svg' %}" width="55" height="42" alt="JCU Logo" class="me-2"> <span class="fs-4 gradient-text">Josh's Django</span> </a> 
    <ul class="nav nav-pills"> 
        <li class="nav-item">
            <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="{% if request.path == '/' %}Home Page{% endif %}">Home</a>
        </li> 
        <li class="nav-item">
            <a href="/about" class="nav-link {% if request.path == '/about/' %}active{% endif %}" aria-current="{% if request.path == '/about/' %}About Page{% endif %}">About</a>
        </li> 
        <li class="nav-item">
            <a href="/contact" class="nav-link {% if request.path == '/contact/' %}active{% endif %}" aria-current="{% if request.path == '/contact/' %}Contact Page{% endif %}">Contact</a>
        </li> 
    </ul> 
</header> 
</div>

<div class="mycontent">
        {% block content %}
        <!-- Page-specific content goes here -->

        {% endblock %}
    </div>

    <div class="myfooter"> 
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 pt-4 pd-2 px-3 mt-5 md-0 border-top"> 
            <div class="col mb-3"> 
                <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" aria-label="Bootstrap"> <img src="{% static 'images/jculogo.svg' %}" width="65" height="40" alt="JCU Logo" class="me-2"> </a> 
                <p class="text-body-secondary">© Copyright by <span class="gradient-text">Josh's Django</span> 2025</p> 
            </div> 
            <div class="col mb-3"></div> 
            <div class="col mb-3"> 
                <h5>Navigation</h5> 
                <ul class="nav flex-column"> 
                    <li class="nav-item mb-2">
                        <a href="/" class="nav-link p-0 text-body-secondary">Home</a>
                    </li> 
                    <li class="nav-item mb-2">
                        <a href="/about" class="nav-link p-0 text-body-secondary">About </a>
                    </li> 
                    <li class="nav-item mb-2">
                        <a href="/contact" class="nav-link p-0 text-body-secondary">Contact</a>
                    </li>  
                </ul> 
            </div> 
            <div class="col mb-3"> 
                <h5>Social Media</h5> 
                <ul class="nav flex-column"> 
                    <li class="nav-item mb-2">
                        <a href="https://www.facebook.com" class="nav-link p-0 text-body-secondary" target="_blank">Facebook</a>
                    </li> 
                    <li class="nav-item mb-2"><a href="https://www.youtube.com" class="nav-link p-0 text-body-secondary" target="_blank">Youtube</a>
                    </li> 
                </ul> 
            </div> 
            <div class="col mb-3"> 
                <h5>Contact Info</h5> 
                <ul class="nav flex-column"> 
                    <li class="nav-item mb-2">
                        Email Us: <a href="mailto:joshuaugwu89@gmail.com" class="nav-link p-0 text-body-secondary">joshuaugwu89@gmailcom</a>
                    </li> 
                    <li class="nav-item mb-2">
                        Call Us: <a href="tel:+2349161780381" class="nav-link p-0 text-body-secondary">+2349161780381</a>
                    </li> 
                    <li class="nav-item mb-2">
                        Chat Us: <a href="https://wa.me/2348161780381" target="_blank" class="nav-link p-0 text-body-secondary">Via WhatsApp</a>
                    </li> 
                </ul> 
            </div> 
        </footer> 
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>